  <header role="banner">
    <div class="container">
      <div itemscope itemtype="http://schema.org/Organization">
        <a itemprop="url" href="{{ site.baseurl }}/">
          <img itemprop="logo" src="{{ site.baseurl }}/images/{{ site.logo }}" alt="{{ site.title }} logo">
        </a>
      </div>

      <a href="#" class="open-panel" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Mobile Navigation">
        <span aria-hidden="true"></span>
      </a>
    </div>
  </header>
