{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ nav.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<div class="container">

  <nav role="navigation" aria-label="Primary Navigation">
    <ul role="menubar" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      {% for nav in site.data.nav %}
      {% if nav.url == current_page %}
      {% assign current = 'aria-current="page"' %}
      {% else %}
      {% assign current = null %}
      {% endif %}
      {% assign sublinks = nav.sublinks %}
      {% if sublinks %}
      <li role="menuitem" itemprop="name" {{ current }}>
        <a href="{{ site.baseurl }}{{ nav.url }}" itemprop="url" aria-haspopup="true">{{ nav.title }}</a>
        <ul aria-hidden="true" aria-label="submenu">
          {% for sublink in sublinks %}
          <li role="menuitem" itemprop="name"><a href="{{ site.baseurl }}{{ sublink.url }}" itemprop="url">{{ sublink.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li role="menuitem" itemprop="name" {{ current }}><a href="{{ site.baseurl }}{{ nav.url }}" itemprop="url">{{ nav.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>

</div>
