// Logo
$logo-width: 190px;
$logo-width-tablet: 150px;
$logo-width-mobile: 150px;

$logo-height: auto;
$logo-height-tablet: auto;
$logo-height-mobile: auto;
$logo-min-height-mobile: auto;
$logo-max-height: auto;

$color-mark: null;
